/*--basic CSS------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --white-c: #fff;
    --black-c: #000;
    --body-background-c: #FD7AC0;
    --wrapper-background-c: #D4F1F4;
    --wrapper-shadow-c: rgba(0, 0, 0, 0.219);
    --buttons-background-c: rgba(255, 255, 255, 0.219);
    --buttons-active-background-c: rgba(135, 207, 235, 0.493);
    --primary-color: #DA1A35;
}

.navbar {
    background: white;
    padding: 1em;
}

.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.navbar .logo span {
    color: var(--primary-color);
}

.navbar nav {
    display: none;
}

.navbar .container {
    display: flex;
    place-content: space-between;
}

.navbar .mobile-menu {
    cursor: pointer;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
}

nav ul.primary-nav {
    margin-top: 5em;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

span {
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border box;
}

a {
    text-decoration: none;
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

link {
    color: rgb(164, 164, 221);
}

.hero {
   text-align: center;
}

.left-col h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
}

.left-col .submit-content-cta {
    display: inline-block;
    margin-top: 1em;
    background: white;
    color: black;
    font-weight: bold;
    padding: 0.6em 1em;
    font-size: 1em;
    border-radius: 5em;
    text-decoration: none;
}

.left-col .submit-content-cta img {
    margin-right: 1em;
}

.submit-content-cta:hover {
    background-color: black;
    color: white;
}

.primary-cta:hover {
    background-color: #46F757;
}

/*--blog-----------------------*/

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rdgba(0,0,0,0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: red;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-img {
    width: 100%;
    height: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.blog-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    display: flex;
    position: static;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    text-align: center;
    width: 700px;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.6rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text a {
    color: #422c86;
}

.blog-text a:hover {
    color: red;
    transition: all ease 0.3s;
}

.responsive {
    max-width: 90vw;
    height: auto;
}
    
/**** linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); ****/

text {
    font-size: 20px;
}

.blog-container {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 870px) {
    .mobile-menu, .mobile-menu-exit {
      display: none;
    }
    .navbar .container {
      display: grid;
      grid-template-columns: 180px auto;
      justify-content: unset;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: flex;
    }
    .navbar nav a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }
    .navbar nav ul.primary-nav {
      margin: 0;
    }
    .navbar nav li.current a {
      font-weight: bold;
    }
    .navbar nav li.plug-in-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;
      align-items: center;
    }
    .navbar nav li.plug-in-cta a:hover {
      background: var(--primary-color);
      color: white;
    }
}

.banner-img {
    width: 100vw;
}

@media only screen and (max-width: 870px) {
    .blog-text {
        width: 600px;
    }
}

@media only screen and (max-width: 720px) {
    .blog-text {
        width: 450px;
    }
}

@media only screen and (max-width: 520px) {
    .blog-text {
        width: 250px;
    }
}
.iframe-container {
    position: fixed;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***** test slider ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* End Main Rules */
  
  /* Wrapper */
  .wrapper{
    width: 360px;
    height: 640px;
    position: relative;
    background-color: var(--wrapper-background-c);
    box-shadow: 0 0 80px var(--wrapper-shadow-c);
    vertical-align: center;
    justify-content: center;
    align-items: center;
  }
  
  /* Images Area */
  .images-area{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .images-area img{
    width: 100%;
    transition: 0.3s cubic-bezier(.79,.03,0,.99);
  }

  .footer-bullet {
    list-style: none;
  }

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  /* Buttons Area  */
  .buttons-area{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .buttons-area > div{
    color: var(--white-c);
    background-color: var(--buttons-background-c);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  /* Buttons | Previous And Next */
  .buttons-area > div:first-child{
    border-radius: 0 5px 5px 0;
    margin-left: -100px;
  }
  .buttons-area > div:last-child{
    border-radius: 5px 0 0 5px;
    margin-right: -100px;
  }
  /* Show The Buttons */
  .wrapper:hover .buttons-area > div:first-child{
    margin-left: 0;
  }
  .wrapper:hover .buttons-area > div:last-child{
    margin-right: 0;
  }
  .buttons-area div:hover:not(div.disabled){
    background-color: var(--buttons-active-background-c);
  }
  .buttons-area div:not(div.disabled):active{
    opacity: 0.7;
  }
  /* Disabled Button */
  .buttons-area > div.disabled{
    cursor: no-drop;
    opacity: 0.3;
  }
  .buttons-area div i{
    font-size: 70px;
  }
  
  /* Pagination Area */
  .pagination-area{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  /* Pagination Spans */
  .pagination-area span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white-c);
    margin-right: 5px;
    transform: scale(0.5);
    transition: 0.3s ease-in-out;
    opacity: 0.4;
  }
  /* Current Active Span */
  .pagination-area span.active{
    transform: scale(1);
    opacity: 1;
  }
  
  /* End Wrapper */
  
  /* Footer Start */

  button {
    width: 6em
  }
  
  button:hover span {
    display: none
  }
  
  button:hover:before {
    margin-left: 6px;
    content: "deplug868@gmail.com";
    color: #e12c45;
  }

  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 20px 40px;
  }
  
  .footer-distributed .footer-left p {
    color: #e74343;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #722e09;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

/* Footer End */


/* Typewriter Animation */

.type{
    margin-top: 1em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right: 4px solid black;
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
}

.animation{
  animation: typewriter 4.5s steps(25) 1s infinite both,
             blinkCursor 500ms steps(25) infinite;
}

@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 414px;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: rgb(214, 35, 35);
  }
  to {
    border-right-color: transparent;
  }
}


/* Typewriter Animation */